
.one-line-ellipsis {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.two-line-ellipsis {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
body .content-main {
  --top-height: calc(4rem + 2.5rem);
  --bottom-heihgt: 3.5rem;
  height: calc(100vh - calc(var(--top-height) + var(--bottom-heihgt)));
  top: var(--top-height);
  /* bottom: var(--bottom-heihgt); */
}
.text-inherit {
  color: inherit
}
.bg-inherit {
  color: inherit
}

.placeholder-inherit::-webkit-input-placeholder {
  color: inherit;
}

.placeholder-inherit::-moz-placeholder {
  color: inherit;
}

.placeholder-inherit:-ms-input-placeholder {
  color: inherit;
}

.placeholder-inherit::-ms-input-placeholder {
  color: inherit;
}

.placeholder-inherit::placeholder {
  color: inherit;
}

/* Mobil model */
@media screen and (max-width: 640px) {
  /*  Editor height */
  .content-main .bytemd {
    height: calc(100vh - var(--top-height) - var(--bottom-heihgt) - 4.5rem);
    border-radius: 6px;
  }
  /* Alert width */
  #alert .alert-self {
    width: calc(100vw - 2rem);
  }
}

/* Desk model  */
@media screen and (min-width: 640px) {
  /* Editor height */
  .content-main .bytemd {
    height: calc(100vh - var(--top-height) - 2rem );
    box-sizing: border-box;
    border-radius: 6px;
  }
  /* Alert width */
  /* #alert>.alert-area {
    width: calc(100vw-2rem);
  } */
}

.bg-transparent-important {
  background-color: transparent !important;
}


/* .triangle-bottom::after {
  position: absolute;
  display: block;
  content: '';
  width: 0;
  height: 0;
  left: 50%;
  bottom: -48%;
  margin-left: -10px;
  border: 10px solid rgb(244, 244, 246);
  border-left-color: transparent;
  border-bottom-color: transparent;
  border-right-color: transparent;
} */

.triangle-bottom::before {
  --size: 1.2rem;
  position: absolute;
  display: block;
  content: '';
  width: var(--size);
  height: var(--size);
  left: 50%;
  margin-left: calc(var(--size) / -2);
  top: 100%;
  margin-top: calc(var(--size) / -2);
  bottom: 0;
  background-color: #fff;
  transform: rotate(45deg);
  box-shadow: 5px 5px 5px #dcdce4;
  border-end-end-radius: 5px;
}


